nav {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  background-color: #005ea5;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 30px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  color: #ffd700;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

.plot-container {
  height: 600px;
  width: 100%;
  margin: 50px 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #005ea5;
  margin-bottom: 1em;
  text-align: center;
  margin: 30px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #005ea5;
  margin-bottom: 1em;
  text-align: center;
  margin: 30px;
}

.active-link {
  text-decoration: underline;
}
